p{
    font-size: x-large;
}
a{
    size: 300px;
    font-style: italic;
}
body{
    background-image: url(https://img.freepik.com/free-vector/copy-space-bokeh-spring-lights-background_52683-55649.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}